/* Base Application Styles */
*:-webkit-any-link, *:focus { outline: none; }

body { font-family: 'Montserrat', sans-serif; }

h1, h2, h3, h4, h5, h6 { margin: 0 0 0 0; }

.small { font-size: 12px; }

a, button { cursor: pointer; }

button, input[type='submit'] {
  border: none;
  box-shadow: none;
  padding: 10px 20px;
}

hr { margin: 10px 0; }

textarea { width: 100%; }

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
